<app-barra-menu></app-barra-menu>
<h1>Este es el titulo</h1>
    @for(producto of listaProductos; track $index){
        <div class="card">
            <img class="product-image" src="{{producto.image}}" alt="{{producto.image}}">
            <div class="product-details">
                <div class="product-name">Nombre: {{producto.title}}</div><br>
                <div class="product-desc">Descripción: {{producto.description}}</div><br>
                <div class="product-category">Categoría: {{producto.category}}</div><br>
                <div class="product-price">Precio: {{producto.price}}</div><br>
                <a class="buy-link" href="#">Comprar</a><br><br><br>
            </div>
        </div>
    }
<app-footer></app-footer>